#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
#set( $page_title = "Channel Detail" )

<h4>Channel Info</h4>
<dl class="dl-horizontal">
    <dt>Name</dt><dd>$StringUtils.defaultIfBlank($channel.name, "&nbsp;")</dd>
	<dt>Mode</dt><dd>$StringUtils.defaultIfBlank($channel.mode, "&nbsp;")</dd>
	<dt>Creation Timestamp</dt><dd>$channel.createTimestamp</dd>
	<dt>Topicdd</dt><dd>$display.alt($StringUtils.defaultIfBlank, "&nbsp;")</dd>
	<dt>Topic Timestamp</dt><dd>$channel.topicTimestamp</dd>
	<dt>Topic Setter</dt><dd>$StringUtils.defaultIfBlank($channel.topicSetter, "&nbsp;")</dd>
</dl>
	
<h4>Modes</h4>
<dl class="dl-horizontal">
	<dt>Moderated</dt><dd>$channel.moderated</dd>
	<dt>No External Messages</dt><dd>$channel.noExternalMessages</dd>
	<dt>Invite Only</dt><dd>$channel.inviteOnly</dd>
	<dt>Secret</dt><dd>$channel.secret</dd>
	<dt>Channel Private</dt><dd>$channel.channelPrivate</dd>
	<dt>Topic Protection</dt><dd>$channel.hasTopicProtection()</dd>
	<dt>Channel Limit</dt><dd>$channel.channelLimit</dd>
	<dt>Channel Key</dt><dd>$StringUtils.defaultIfBlank($channel.channelKey, "&nbsp;")</dd>
</dl>

<h4>Channel Users</h4>
#if($channel.users.isEmpty())
	There are no users
#else
	<table class="table table-striped">
	<thead>
	<tr>
	<th>Nick</th><th>Op</th><th>Voice</th><th>HalfOp</th><th>SuperOp</th><th>Owner</th>
	</thead><tbody>
	#foreach($user in $channel.users)
		<tr>
		<td><a href="userDetail.vm?userId=$user.userId">$user.nick</td>
		#createCell($channel.isOp($user))
		#createCell($channel.hasVoice($user))
		#createCell($channel.isHalfOp($user))
		#createCell($channel.isSuperOp($user))
		#createCell($channel.isOwner($user))
		</tr>
	#end
	</tbody>
	</table>
#end