#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
#set($firstBot = $manager.bots.iterator().next())
Welcome to TheLQ-PircBotX's Web Interface, running <a href="https://code.google.com/p/pircbotx/">
PircBotX $field.in("org.pircbotx.PircBotX").VERSION</a>. This provides a detailed view
of the current bot, mainly user and channel data. Note that this is a live site; actions
in the IRC channel will reflect immediately in this interface

<p><b><i>This site is still being written</i></b>

#set( $page_title = "Home" )
#foreach($curBot in $manager.getBots()) 
	<h4>Bot #$curBot.botId</h4>
	<dl class="dl-horizontal">
	<dt>Server</dt><dd>$curBot.configuration.serverHostname<dd>
	<dt>Port</dt><dd>$curBot.configuration.serverPort</dd>
	<dt>Nick</dt><dd>$curBot.nick</dd>
	<dt>Uptime</dt><dd>$manager.getStats($curBot.botId).uptime</dd>
	<dt>Total messages</dt><dd>$manager.getStats( $curBot.botId ).receivedMessages</dd>
	<dt>Total commands</dt><dd>$manager.getStats($curBot.botId).receivedCommands.get()</dd>
	</dl>
#end

<h4>Loaded Listeners:</h4> <ul>
#foreach($curListener in $firstBot.configuration.listenerManager.listeners)
	<li>$curListener.class.</li>
#end
</ul>