#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
#set($firstBot = $manager.bots.iterator().next())
Welcome to TheLQ-PircBotX's Web Interface, running <a href="https://code.google.com/p/pircbotx/">
PircBotX $field.in("org.pircbotx.PircBotX").VERSION</a>. This provides a detailed view
of the current bot, mainly user and channel data. Note that this is a live site; actions
in the IRC channel will reflect immediately in this interface

<p><b><i>This site is still being written</i></b>

#set( $page_title = "Home" )
#foreach($curBot in $manager.getBots()) 
	<h2>#$curBot.botId $curBot.configuration.serverHostname - $curBot.nick</h2>
	Uptime: $manager.getStats($curBot.botId).uptime
	<br>Number of received messages: $manager.getStats( $curBot.botId ).receivedMessages
	<br>Number of received commands: $manager.getStats($curBot.botId).receivedCommands.get()
	<table>
	#foreach($curChannel in $curBot.userChannelDao.allChannels)
		<tr><th>$curChannel.name</th></tr>
		#foreach($curUser in $curChannel.users)
			<tr><td><a href="userDetail.vm?userId=$curUser.userId">$curUser.nick</a></td><td>$curUser.hostmask</td><td></tr>
		#end
	#end
	</table>
#end

<h2>Loaded Listeners:</h2> <ul>
#foreach($curListener in $firstBot.configuration.listenerManager.listeners)
	<li>$curListener.class.</li>
#end