#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
<!DOCTYPE html>
<html lang="en">
<head>
	<title>$!page_title</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<style type="text/css">
		.table tbody td.success{background-color:#dff0d8 !important;}
		.table tbody td.error{background-color:#f2dede !important;}
		.table-hover tbody td.success:hover{background-color:#d0e9c6 !important;}
		.table-hover tbody td.error:hover{background-color:#ebcccc !important;}

		.title, .title a:link, .title a:hover, .title a:visited, .title a:focus, .title a:active {
			text-decoration: none !important;
			color: black !important;
		}

		th[data-sort]{
			cursor:pointer;
		}
	</style>

	<!-- jQuery -->
	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script src="//raw.github.com/joequery/Stupid-Table-Plugin/master/stupidtable.min.js"></script>
</head>
<body>

#macro ( createCell $enabled)
	#if($enabled)
		<td class="success">Yes</td>
	#else
		<td class="error">No</td>
	#end
#end

<center><h2><a href="index.vm" class="title">TheLQ-PircBotX's Web Interface</a></h2></center>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			#foreach($curBot in $manager.bots)
				$curBot.configuration.serverHostname
				<ul>
				#foreach($curChannel in $curBot.userChannelDao.allChannels)
					<li><a href="channelDetail.vm?channelId=$curChannel.channelId">$curChannel.name</a></li>
				#end
				</ul>
			#end
		</div>
		<div class="span10">
			<ul class="breadcrumb">
				#if($serverHostname)
					<li><a href="index.vm">Home</a></li> <span class="divider">/</span></li>
					<li>$serverHostname <span class="divider">/</span></li>
					<li class="active">$page_title</li>
				#else
					<li class="active">Home</li>
				#end
			</ul>
			$screen_content
		</div>
	</div>
</div>


<hr/>
<center>Written by Leon Blakey/TheLQ/Lord.Quackstar
 | Uses Java IRC Library <a href="http://code.google.com/p/pircbotx">PircBotX $field.in("org.pircbotx.PircBotX").VERSION</a>
 | <a href="http://code.google.com/p/lq-projects">LQ-Projects Page</a> </center>
</body>

<script type="text/javascript">
$(document).ready(function(){
  $('.table').stupidtable();
});
</script>
</html>