#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
<html>
<head>
<title>velocity test</title>
</head>
<body>
<table>

#foreach($curBot in $manager.getBots()) 
	<h2>#$curBot.botId $curBot.configuration.serverHostname - $curBot.nick</h2>
	<table>
	#foreach($curChannel in $curBot.userChannelDao.allChannels)
		<tr><th>$curChannel.name</th></tr>
		#foreach($curUser in $curChannel.users)
			<tr><td>$curUser.nick</td><td>$curUser.hostmask</td></tr>
		#end
	#end
	</table>
#end
</body>
</html> 