#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
#set( $page_title = "User Detail" )

<h4>User Information</h4>
<dl class="dl-horizontal">
	<dt>Nick</dt><dd>$StringUtils.defaultIfBlank($user.nick, "&nbsp;")</dd>
	<dt>Login</dt><dd>$StringUtils.defaultIfBlank($user.login, "&nbsp;")</dd>
	<dt>Hostname</dt><dd>$StringUtils.defaultIfBlank($user.hostmask, "&nbsp;")</dd>
	<dt>Away</dt><dd>$user.away</dd>
	<dt>Realname</dt><dd>$StringUtils.defaultIfBlank($user.realName, "&nbsp;")</dd>
	<dt>Connected Server</dt><dd>$StringUtils.defaultIfBlank($user.server, "&nbsp;")</dd>
	<dt>Hops</dt><dd>$user.hops</dd>
</dl>

<h4>User's Channels</h4>
#if($user.channels.isEmpty())
	There are no channels
#else
	<table class="table table-striped">
	<thead>
		<tr>
		<th data-sort="string">Channel</th>
		<th data-sort="string">Op</th>
		<th data-sort="string">Voice</th><th>HalfOp</th>
		<th data-sort="string">SuperOp</th>
		<th data-sort="string">Owner</th>
		</tr>
	</thead>
	<tbody>
	#foreach($channel in $user.channels)
		<tr>
		<td><a href="channelDetail.vm?channelId=$channel.channelId">$channel.name</td>
		#createCell($channel.isOp($user))
		#createCell($channel.hasVoice($user))
		#createCell($channel.isHalfOp($user))
		#createCell($channel.isSuperOp($user))
		#createCell($channel.isOwner($user))
		</tr>
	#end
	</tbody>
	</table>
#end