#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
#set( $page_title = "User Detail" )

#macro( displayChannel $channelList $missingName)
	#if($channelList.isEmpty())
		<p>$user.nick is not a $missingName user in any channel
	#else
		<p>Channels $user.nick is a $missingName user in:
		<table>
			<tr><th>Channel</th></tr>
			#foreach($channel in $channelList)
				<tr><td>$channel.name</td></tr> 
			#end
		</table>
	#end
	
#end

<h2>$user.nick</h2>
Login: $user.login
<br>Hostmask: $user.nick
<br>Away: $user.away
<br>Real name: $user.realName
<br>Connected Server: $user.server
<br>Hops: $user.hops
#displayChannel($user.channels "normal")
#displayChannel($user.channelsOpIn "op")
#displayChannel($user.channelsVoiceIn "voice")
#displayChannel($user.channelsOwnerIn "owner")
#displayChannel($user.channelsHalfOpIn "half op")
#displayChannel($user.channelsSuperOpIn "super op")