#*
 * Copyright (C) 2011 Leon Blakey <lord.quackstar at gmail.com>
 *
 * This file is part of TheLQ-PircBotX.
 *
 * TheLQ-PircBotX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TheLQ-PircBotX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TheLQ-PircBotX. If not, see <http://www.gnu.org/licenses/>.
 *#
#macro ( printUser $user )
	$user.nick!$user.login@$user.hostmask
#end

#macro ( createCell $enabled)
	#if($enabled)
		<td class="success">Yes</td>
	#else
		<td class="error">No</td>
	#end
#end

#macro ( historyClass $type )
	#if($curEvent.type == "ITALIC")
		italic
	#elseif($curEvent.type == "BOLD")
		bold
	#elseif($curEvent.type == "BACKGROUND")
		muted
	#end
#end

#macro ( createHistoryData $curEvent )
	#if($curEvent.class.simpleName == "TopicEvent")
		<td>*</td><td>Topic changed to $curEvent.topic by #printUser($curEvent.user)</td>
	#elseif($curEvent.class.simpleName == "NickChangeEvent")
		<td>*</td><td>User $event.oldNick!$user.login@$user.hostmask changed nick to $event.newNick</td>
	#elseif($curEvent.class.simpleName == "ModeEvent")
		#if($curEvent.user)
			<td>*</td><td>#printUser($curEvent.user) set mode $curEvent.mode</td>
		#end
	#elseif($curEvent.class.simpleName == "KickEvent")
		<td>*</td><td>#printUser($curEvent.source) kicked #printUser($curEvent.recipient): $curEvent.reason</td>
	#elseif($curEvent.class.simpleName == "JoinEvent")
		<td>*</td><td>#printUser($curEvent.user) joined</td>
	#elseif($curEvent.class.simpleName == "PartEvent")
		<td>*</td><td>#printUser($curEvent.user) left</td>
	#elseif($curEvent.class.simpleName == "NoticeEvent")
		<td class="nowrap"><b>$curEvent.user.nick</b></td><td><b>$curEvent.notice</b></td>
	#elseif($curEvent.class.simpleName == "ActionEvent")
		<td class="nowrap"><i>$curEvent.user.nick</i></td><td><i>$curEvent.action</i></td>
	#elseif($curEvent.class.simpleName == "MessageEvent")
		<td class="nowrap">$curEvent.user.nick</td><td>$curEvent.message</td>
	#else
		<td>Unknown channel event</td><td>$curEvent</td>
	#end
#end